<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taskmanagerpro">

    <application
        android:allowBackup="true"
        android:label="TaskManager Pro"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taskmanagerpro">

        <activity
            android:name="com.example.taskmanagerpro.AddEditTaskActivity"
            android:exported="false" />

        <activity
            android:name="com.example.taskmanagerpro.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>